<div class="form-todo card mb-2">
  <div class="card-body">
    <form [formGroup]="todoForm">
      <div class="form-group">
        <label for="formTitle">Title</label>
        <input
          class="form-control"
          formControlName="todoTitle"
          id="formTitle"
          placeholder="Title of the todo"
          type="text"
        />
        <div class="invalid-feedback">Provide a title.</div>
      </div>
      <div class="form-group">
        <label for="formBody">Body</label>
        <textarea
          class="form-control"
          id="formBody"
          formControlName="todoBody"
        ></textarea>
        <div class="invalid-feedback">Provide a Body.</div>
      </div>
      <div class="form-group">
        <label for="formDueDate">Due date</label>
        <input
          type="date"
          class="form-control"
          id="formDueDate"
          formControlName="todoDueDate"
        />
        <div class="invalid-feedback">Provide a valid date.</div>
      </div>
    </form>
    <div class="mt-2 d-flex justify-content-end">
      <button
        class="btn btn-secondary"
        data-test-id="button-cancel"
        (click)="onCancelClick()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary me-1"
        [disabled]="!canSaveTodo"
        data-test-id="button-save"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>
</div>
